<header>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<nav class="navbar navbar-expand-lg" style="background-color: #171796; color:aliceblue">
	   <a class="navbar-brand">
		   <div class="logo-image">
			   <img src="https://raw.githubusercontent.com/ingridhdezbenz/Ingrid_22_09_2020/master/logotecblanco.png" class="img-fluid">
		   </div>
	   </a>
	   <div class="collapse navbar-collapse" id="navbarSupportedContent">
		 <ul class="navbar-nav mr-auto">
		   <li class="nav-item active">
			 <a class="nav-link" href="/lista">Investigadores del Tecnológico de Monterrey<span class="sr-only">(current)</span></a>
		   </li>
		 </ul>
	   </div>
	</nav>
</header>