<h2>Lista Investigadores</h2>
<h3>Buscar Investigador</h3>
<form action="/lista" method="GET">
	<div>
		<div>
			<label>Nombre</label>
			<input type="text" name="name">
		</div>
	</div>
	<div>
		<button type="submit">Buscar</button>
	</div>
</form>
