<style>
	.logo-image{
	   width: 46px;
	   height: 46px;
	   border-radius: 50%;
	   overflow: hidden;
	   margin-top: -6px;
   }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">
	   <div class="logo-image">
		   <img src="https://raw.githubusercontent.com/ingridhdezbenz/Ingrid_22_09_2020/master/logotecblanco.png" class="img-fluid">
	   </div>
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	 <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
	 <ul class="navbar-nav mr-auto">
	   <li class="nav-item active">
		 <a class="nav-link" href="#">Investigadores del Tecnológico de Monterrey<span class="sr-only">(current)</span></a>
	   </li>
	 </ul>
   </div>
</nav>

<h2><%=departamento%></h2>
<div>Descripcion sacada de la base de datos </div>

<h4>Miembros</h4>
<div>
	<% investigadores.forEach(investigador => { %>
		<a href="/investigador/<%= investigador.id %>">
			<div><%= investigador.nombre %> </div>
		</a>
	<% }) %>
</div>

<h4>Proyectos</h4>
<div>Sacado de la base de datos: Iterar en los proyectos que correspondan a este departamento desplegarlos aqui. Cada una de ellas va a ser un link a la pagina de /proyectos/:id en dado caso qeu el proyecto sea en esquema en MongoDB o /proyectos/:proyecto donde :proyecto sea el nombre del proyecto si este es unico</div>
